<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shahbaz Dance Academy</title>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Abril+Fatface&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/logo.png" alt="HDA Logo">
                HDA
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <section id="introSection">
        <img src="/static/img.jpg" alt="Welcome Image">
        <div class="intro-text">
            <p>Welcome to Shahbaz's Dance Academy</p>
            <p>Eat Sleep Dance Repeat</p>
        </div>
    </section>

    <section id="missionSection">
        <h2>Our Mission</h2>
        <div class="card-box">
            <div class="card">
                <h3>Dance Perfection</h3>
                <div class="card-img">
                    <img src="/static/img13.jpg" alt="Dance Image">
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam
                        est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
                </div>
            </div>

            <div class="card">
                <h3>Best practice</h3>
                <div class="card-img">
                    <img class="set" src="/static/img14.jpg" alt="Dance Image">
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam
                        est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
                </div>
            </div>

            <div class="card">
                <h3>Good training</h3>
                <div class="card-img">
                    <img src="/static/img15.jfif" alt="Dance Image">
                </div>
                <div class="card-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam
                        est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="sponsersSection">
        <h2>Our Sponsers</h2>
        <div id="sponsers">
            <img src="/static/img10.webp" alt="Sponsor image" class="spImg">
            <img src="/static/img1.jpg" alt="Sponsor image" class="spImg">
            <img src="/static/img11.jpg" alt="Sponsor image" class="spImg">
            <img src="/static/img12.jpg" alt="Sponsor image" class="spImg">
        </div>
    </section>

    <footer id="footer">
        Copyright &copy; 2024 Shahbaz Dance Academy | All rights reserved
    </footer>
</body>

</html>