<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Shahbaz Dance Academy</title>
   <link rel="stylesheet" href="/static/style.css">
   <link rel="stylesheet" href="/static/index.js">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
</head>

<body>
   <nav id="navbar">
      <ul>
         <div id="logo">
            <img src="/static/logo.png" alt="">
            HDA
         </div>
         <li><a href="/">Home</a></li>
         <li><a href="/">About</a></li>
         <li><a href="/">Services</a></li>
         <li><a href="/">Class Info</a></li>
         <li><a href="/">Contact Us</a></li>
      </ul>
   </nav>

   <section id="introSection">
      <p>Welcome to Shahbaz's Dance Academy</p>
      <p>Eat Sleep Dance Repeat</p>
   </section>

   <!-- Mission Section -->
   <section id="missionSection">
      <h2>Our Mission</h2>
      <div class="card-box"> <!-- Parent container for all cards -->
         <!-- Card 1 -->
         <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-img">
               <img src="/static/img13.jpg" alt="">
            </div>
            <div class="card-content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
            </div>
         </div>

         <!-- Card 2 -->
         <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-img">
               <img src="/static/img14.jpg" alt="">
            </div>
            <div class="card-content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
            </div>
         </div>

         <!-- Card 3 -->
         <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-img">
               <img src="/static/img15.jfif" alt="">
            </div>
            <div class="card-content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex architecto, odit deleniti laboriosam est iusto voluptatibus tempore. Eos, impedit recusandae.</p>
            </div>
         </div>
      </div>
   </section>

   <!-- Sponsors Section -->
   <section id="sponsersSection">
      <h2>Our Sponsors</h2>
      <div id="sponsers" >
         <img src="/static/img10.webp" alt="Sponsor image" class="spImg">
        <img src="/static/img1.jpg" alt="Sponsor image" class="spImg">
        <img src="/static/img11.jpg" alt="Sponsor image" class="spImg">
        <img src="/static/img12.jpg" alt="Sponsor image" class="spImg">
      </div>
   </section>

   <!-- Footer -->
   <footer id="footer">
      Copyright &copy; 2024 Shahbaz Dance Academy | All rights reserved
   </footer>
</body>

</html>